*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Helvetica Neue;
}

body{
height:100vh;
background:#0f0f0f;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:40px;
}

h1{
font-size:60px;
color:white;
letter-spacing:2px;
text-shadow:0 0 15px cyan;
}

.piano{
display:flex;
flex-direction:column;
gap:15px;
}

.row{
display:flex;
gap:12px;
justify-content:center;
}

.key{
width:75px;
height:180px;
background:white;
border-radius:8px;
display:flex;
justify-content:center;
align-items:flex-end;
padding-bottom:15px;
font-size:20px;
font-weight:bold;
cursor:pointer;
box-shadow:0 6px 0 #999;
transition:0.1s;
}

.key:hover{
background:#f1f1f1;
}

.key.active{
transform:translateY(6px);
box-shadow:0 0 0 #999;
background:#ffd700;
}